.table-container {
    display: grid;
    place-items: center;   
}

.table-content input {
    border: 1px solid;
    border-radius: 8px;  
}

.button-container {
    display: grid;
    place-items: center;
    position: relative;
}

.button-container button {
    width: 10%;
    border: 1px;
    border-radius: 8px;
    cursor: pointer;
}

.value-container {
    display: grid;
    place-items: center;   
}